.UserCard{
    background-color: rgb(61, 168, 255);
    border-radius: .5rem;
    text-align: center;
    padding: 1rem;
    position: relative;
    border-radius: 30px;
}

.UserCard_box_img{
    border-radius: 50%;
}

.UserCard_box_info{
    line-height: .6;
    border-radius: 30px;
}

.UserCard_box_info button{
    background-color: rgb(0, 130, 236);
    color: #000000;
    width: 50%;
    padding: 1rem;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.number{
    position: absolute;
    right: 1rem;
    font-size: large;
    padding: 1rem 1.3rem;
    border-radius: 50%;
    background-color: #007be0;
    top: 1rem;
    color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  .UserCard,
  .UserCard_box_img,
  .UserCard_box_info,
  .number {
    color-scheme: dark;
  }
  .UserCard {
    color: white;
    background: black;
  }
}
