

.Filter{
    width: 80%;
    margin: 1rem auto;
    border-radius: 30px;
}

.Filter_box{
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}

.Filter_box_left_search{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 30px;
    padding-inline: 1rem;
    background-color: rgb(0, 255, 13);
    color: #000000;
}

.Filter_box_left_search input{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 1rem;
    color: #000000;
    width: 20rem;
    border-radius: 30px;
}

.Filter_box_right{
    display: flex;
    gap: 1rem;
    border-radius: 30px;
}

.Filter_box_right button{
    background-color: rgb(0, 255, 13);
    outline: none;
    border: none;
    padding: 1rem 2rem;
    color: #000000;
    border-radius: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: .5rem;
   
}

.Filter_model{
    position: fixed;
    inset: 0 0 0 0;
    background-color: #292f3f;
    z-index: 2222222222;
    border-radius: 30px;
}

@media only screen and (max-width: 35em) {
    .Filter{
        width: 90%;
        border-radius: 30px;
    }
    .Filter_box{
        flex-direction: column;
        gap: 1rem;
        border-radius: 30px;
    }

    .Filter_box_left_search input{
        width: 100%;
        border-radius: 30px;
    };
    .Filter_model{
        position: absolute;
        inset: 0 0 -70% 0;
        border-radius: 30px;
    };

    .Filter_box_right button{
        font-size: .5rem;
        border-radius: 30px;
    }
}