
.Error{
    position: fixed;
    inset: 30% 30% 45% 30%;
    z-index: 1111111111;
    margin:  0 auto;
    background-color: #292F3F;
    text-align: center;
    padding: 2rem;
    border-radius: 30px;
    background: #14e730;
    box-shadow: 5px 5px 10px #23d80b,
    -5px -5px 10px #00ff15
}

@media only screen and (max-width: 35em) {
    .Error{
        inset: 10% 10% 55% 10%;
    }
}
